.App {
  width: 100vw;
  height: 100%;
}

#light {
  background-color: #ececf1;
}

#dark {
  background-color: #373742;
  color: white;
}

#dark .main {
  background-color: #6a6a7b;
  color: white;
}
.text-muted {
  color: white;
}

.switch {
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
}
